body {
  background: linear-gradient(180deg, #E0FFFF, #87CEFA);
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  background: rgb(32, 83, 135);
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 2px solid rgb(77, 95, 113);
}
.btn {
  background-color: rgb(32, 83, 135);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn:hover {
  opacity: 1;
}
.user {
  margin-left: 12px;
}
.ocn {
  padding-bottom: 50px;
}